body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/swirl_pattern.webp);

}

.top-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    background-color: #6e5ec7a5;
}

.top-bar .peler {
   font-size: 25px;
   position: absolute;
   top: 0;
   
}



.container {
    width: 900px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.Facebook {
    width: 200px;
    height: 200px;
    background-image: url(img/facebook.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -8px;
    right: -38px;
}



.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    padding-left: 40px;
    
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 8px;
 
}

.header a {
    text-decoration: none;
    color: rgb(244, 52, 193);
    padding: 3px;
}

.header .ul a:hover {
    background-color: rgb(3, 55, 122);
    color: rgb(235, 16, 23);


}

.hero {
    height: 350px;
    background-image: url(img/border.jpg);
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px solid rgb(3, 55, 122);
    border-bottom: 5px solid rgb(3, 55, 122);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}   


.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
}

.main .Penulis {
    font-size: 11px;
    margin-top: -15px;
    font-family: sans-serif;
}

.main .Penulis a {
    color: rgb(244, 52, 193);
    text-decoration: none;

}

.main p {
    margin-bottom: 20px;
    font-size: 14px;
}

/*side bar*/
.sidebar{
    width: 200px;
    float: right;
    padding: 20px;
}

.sidebar h3{
    font-weight: bold;
    color: rgb(74, 73, 73);
   
}

.sidebar img{
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
    border: double 4px;
    border-color: rgba(95, 73, 42, 0.746);
    
}

.sidebar p{
    font: 12px/19px arial;
    color: rgb(121, 120, 120);
}


.footer {
    background-color: #333;
    padding: 10px;
}


.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;


}


/**micro clearfix*/

.cf::before,
.cf::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf::after {
    clear: both;
}

.cf {
    *zoom: 1;
}